.footer{
    background-color:#161A30;
    min-height: 10vh;
    width: 100%;
    position: fixed;
   margin-top: 580px;
}
.footer-content h2{
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 1px;
}
span{
    color: aquamarine;
    font-style: italic;
}